h1{
    font-size: 70px;
    color: blue;
    text-align: center;
}
p{
    font-size: 88px;
}





#image1{
    width: 20%;
    display: block;
    margin: auto;
    border: solid 4px red;
    padding: 30px;
}